@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inventory</title>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Styles.Render("~/Scripts/easyui/themes/default/easyui.css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/easyui/jquery.easyui.min.js")
    @Styles.Render("~/Scripts/easyui/themes/icon.css")
    <style>
        body {
            overflow-x: hidden;
            overflow-y: hidden;
        }

        .easyui-textbox {
            width: 150px;
        }
    </style>
</head>
<body>
    @using System.Data;
    @{
        DataRow dr = ViewBag.Product;
    }
    <div class="easyui-panel" style="padding: 10px;" data-options="fit:true,border:false">
        <form id="ff" method="post">
            <table>
                <tr>
                    <td>产品号:</td>
                    <td>
                        <input class="easyui-textbox" name="ProductId" type="text" readonly="readonly" id="ProductId" value="@dr["ProductId"].ToString()" /></td>
                </tr>
                <tr>
                    <td>产品名称:</td>
                    <td>
                        <input class="easyui-textbox" name="ProductName"  readonly="readonly" type="text" id="ProductName" value="@dr["ProductName"].ToString()" /></td>
                </tr>
                <tr>
                    <td>可用库存数量:</td>
                    <td>
                        <input class="easyui-textbox" name="QtyAvailable"  readonly="readonly" type="text" id="QtyAvailable" value="@dr["QtyAvailable"].ToString()" /></td>
                </tr>
                <tr>
                    <td>调整数量:</td>
                    <td>
                        <input class="easyui-numberspinner" name="QtyAvailableAdjust" id="QtyAvailableAdjust" data-options="min:0,max:100000,required:true" value="1" />
                </tr>
                <tr>
                    <td>调整状态:</td>
                    <td>
                        <input class="easyui-textbox" name="ModeName" type="text"  readonly="readonly" id="ModeName" value="@ViewBag.ModeName" /></td>
                </tr>
                <tr style="display: none;">
                    <td>调整状态:</td>
                    <td>
                        <input class="easyui-textbox" name="Mode" type="text"  readonly="readonly" id="Mode" value="@ViewBag.Mode" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <a href="#" id="sub" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="$('#ff').form('submit');">提交</a>

                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
